body {
  background-image: url(../images/star-stock.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'distant_galaxyregular';
}

h1.page-heading {
  color: #d2d8e0;
  font-size: 4.5em;
  text-align: center;
}

div.board-container {

  display: inline-block;
}

div.board-padding {
  padding: 40px 0px 40px 50px;
}

div.board-box {
  border-style: solid;
  border-color: black;
  border-width: thin;
  height: 90px;
  width: 90px;
  background: rgba(255, 255, 255, 0.5);
}

div.imperial {
  background: url(../images/imperial-reverse.jpg);
  background-size: contain;

}

div.alliance {
  background: url(../images/first-order.png);
  background-size: contain;
}

div.result-area {
  padding-top: 125px;
  display: inline-block;
  width: 400px;
  text-align: center;

}

.result-area h2 {
  font-size: 3em;
  color: #d2d8e0;
}

.result-area h3 {
  font-size: 2em;
  color: #d8cd00;
  cursor: pointer;
}

div.alliance-hover {
  background-image: url(../images/first-order.png);
  background-size: contain;
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
}

div.imperial-hover {
  background-image: url(../images/imperial-reverse.jpg);
  background-size: contain;
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
}
